* {
    padding: 0;
    margin: 0;
}
body {
    outline: 1px red solid;
    height: 100vh;
}
h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: aquamarine;
}
.sidebarListBreak {
    padding-top: 1.5rem;
}
.header {
    grid-area: 1 / 2 / 2 / 3; 
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-bottom: 3px solid gray;
}
.rowOne {
    grid-area: 1 / 1 / 1/ 3;
    
    outline: 1px solid red;


}
.rowTwo {
    grid-area: 2 / 1 / 2 / 3;
    display: flex;
}
.rowTwo>ul {
}
.contentContainer {
    background-color: lightgray;
}
.content {
    grid: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;

}
.card {
    border-radius: 15px;
    border: 3px lightblue solid;
    border-left: 7px rgb(142, 142, 5) solid;
    margin-left: 15px;
    background-color: whitesmoke;
}
.labels {
    display: flex;
    justify-content: space-around;
}
ul {
    display: flex;
    
    list-style: none;
}
.sidebar>ul {
    flex-direction: column;
}

img {
    height: 18px;
    margin-left: 10%;
    margin-right: 5px;
    margin-top: 10px;
    position: relative;
    top: 3px;
}
.mainIcon {
    height: 28px;
}